<h1>Regeln</h1>
  <ul>
    <li>Zum Spielen benötigen Sie ein Benutzerkonto</li>
    <li>Nachdem Sie sich registriert und eingeloggt haben, können Sie ein neues Spiel starten oder einem
    Spiel beitreten</li>
    <li>Gespielt wird immer Eins gegen Eins</li>
    <li>Beim Erstellen des Spiels kann die Anzahl der Spielrunden angegeben werden</li>
    <li>Sind zwei Spieler im Spiel kann das Spiel gestartet werden</li>
    <li>Sie haben 30 Sekunden Zeit um eine Stadt ein Land und einen Fluss mit dem passenden Anfangsbuchstaben einzugeben</li>
    <li>Gewertet werden:
      <ul>
        <li>2060 deutsche Städte (Wikipedia)</li>
        <li>433 deutsche Flüsse</li>
        <li>197 Länder der Welt</li>
      </ul>
    </li>
    <li>Beide Spieler müssen alle Runden spielen, bevor die Punkte berechnet werden</li>
    <li>Punkteberechnung:
    <ul>
      <li>5 Punkte: Zwei Spieler haben die gleiche Stadt (Land, Fluss)</li>
      <li>10 Punkte: Hat ein Spieler eine Stadt (Land, Fluss) aufgeschrieben, die sonst keiner hat</li>
      <li>20 Punkte: Hat ein Spieler als Einziger eine Stadt (Land, Fluss) aufgeschrieben, erhält dieser Spieler 20 Punkte. Dies ist immer dann der Fall, wenn alle anderen Spieler zu dem Anfangsbuchstaben keine Stadt (Land, Fluss) finden konnten.</li>
    </ul>
    </li>

  </ul>
