<h1>Über uns</h1>
<p>Diese Website ist im Rahmen eines Projektes der Fachhochschule Münster entstanden. Wir sind vier Studenten
der Wirtschaftsinformatik. Im Modul Webentwicklung II des dritten Semesters galt es eine eigene Website mit
Ruby on Rails zu erstellen!
Viel Spaß beim Spielen!</p>
<p>Februar 2015</p>