<h1>Laufende Spiele</h1>


<% if @games.exists? %>
    <table style="width:100%">
        <tr>
          <th><h3>Name</h3></th>
          <th><h3>Runden</h3></th>
        </tr>
      <% @games.each do |game| %>
        <tr>
          <td><h3><%= game.name %></h3></td>
          <td><h3><%= game.max_round_count %></td>
          <td><%= button_to 'Beitreten!', game, class: "btn btn-success", :method => :get %></td>
        </tr>
      <% end %>
      </table>
<% else %>
    <p class="alert alert-warning">Derzeit gibt es keine laufenden Spiele</p>
<% end %>
<p> <%= button_to "Aktualisieren!", games_path(@game), :method => :get, class:"btn btn-primary" %> </p>
<button type="button" class="btn btn-default btn-xs" onClick="history.go(-1);return true;">Zurück</button>

