/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 *= require bootstrap_and_overrides
 */

/* Your stylesheets goes here... */


body {
    background-image: url("wolke.jpg");
    color: #ffffff;
}

/* navbar */
.navbar-default {
    background-color: #333333;
    border-color: #333333;
}

.navbar-nav {
    margin: 0;
}

.navbar-default.navbar-fixed-bottom {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    color: #ffffff;
}


.navbar-default.navbar-fixed-bottom > li {
    color: #ffffff;
}

.navbar-default.navbar-fixed-bottom > li >p >a {
    color: #ffffff;
}


/* title */


.navbar-default .navbar-brand {
    color: cornflowerblue;
    font-family: "Comic Sans MS";
    font-size: 20px;
}

.navbar-default .navbar-brand > p > img {
    background-color: cornflowerblue;
}

.navbar-default .navbar-brand > p > img:hover {
    background-color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: cornflowerblue;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: cornflowerblue;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* sidebar-nav */
.well {
    background-color: #333333;
    color: #ffffff;
    border-color: #333333;
}
.nav-list > li > a {
    color: #ffffff;
}
.nav-list > li > a:hover,
.nav-list > li > a:focus {
    color: #333333;
}
.btn-default.btn-lg.btn-block {
    background-color: orange;
    border-color: #333333;
}
.btn-primary.btn-lg.btn-block {
    background-color: green;
    border-color: #333333;
}
.dropdown {
    background-color: #333333;
    border-color: #333333;
}
.dropdown-menu {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
    font-size: 13px;
}

.dropdown-menu >li > a {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

.dropdown-menu >li > a:hover,
.dropdown-menu >li > a:focus {
    background-color: #333333;
    border-color: #333333;
    color: cornflowerblue;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu >li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu >li > a:focus {
    background-color: #333333;
    border-color: #333333;
    color: cornflowerblue;
}
input {
    color: black;
}
.field_with_errors {
    background-color: transparent;
}

footer {
    position: relative;
    margin-top: -7.5em;
}
.form-group {
    max-width: 400px;
}

.innercontainer {
    padding-bottom:3em;
}

